
:root{
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222321;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body{
    color: var(--bg-color);
    background-color: var(--body-color);
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*! Header */

header{
    /* display: inline-block; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #272f42;
    border-radius: 1rem;
}

.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.nav-link{
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 2rem;
    color: var(--bg-color);
}

.nav-link:hover{
    color: var(--main-color);
    background-color: var(--container-color);
    transition: 0.3s all linear;
}

/* ! Body */

span{
    color: var(--main-color);
}

.home{
    margin-top: 20px;
}

.hometext{
    width: 400px;
    float: left;
}

.mainImage{
    float: right;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    width: 200px;
    margin-right: 150px;
}



