
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222321;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body{
    color: var(--bg-color);
    font-family: Montserrat, sans-serif;
    background-color: var(--body-color);
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    color: var(--bg-color);
    background-color: #272f42;
    border-radius: 2rem;
    border: 1px solid var(--main-color);
    padding: 4px 8px;
}

button:hover{
    color: var(--main-color);
    background-color: var(--container-color);
    transition: 0.3s all linear ;
    cursor: pointer;
}

/*! Header */

header{
    /* display: inline-block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #272f42;
    border-radius: 1rem;
}

.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    /* padding-top: 120px; */
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.nav-link{
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 2rem;
    color: var(--bg-color);
}

.nav-link:hover{
    color: var(--main-color);
    background-color: var(--container-color);
    transition: 0.3s all linear;
}

.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 200;
}

.menu-icon div{
    display: block;
    background-color: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.2s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

/* ! Body */

span{
    color: var(--main-color);
}

.home{
    padding-top: 100px;
}

.home-content{
    margin-bottom: 50px;
    height: 200px;
}

.hometext{
    width: 550px;
    float: left;
}

.sidebar{
    animation: animate-text 6s;
}

@keyframes animate-text{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.mainImage{
    float: right;
    border: 2px solid    var(--main-color);
    border-radius: 50%;
    width: 200px;
    margin-right: 100px;
    transition: 0.5s ease-in-out;
}

.mainImage:hover{
    transform: scale(1.1);
}

.flipImg{
    position: static;
    animation: FlipImage 4s;
    animation-timing-function: ease;
}

@keyframes FlipImage{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

.bodyImg{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.bodyImage::after{
    content: 'This is just a test.';
    z-index: 300;
}

.bodyImage{
    position: relative;
    width: 250px;
    margin: 15px;
    border: 3px solid var(--main-color);
    border-radius: 1.5rem;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.bodyImage:hover{
    transform: scale(1.1);
    opacity: 0.3;
}

/*! About */

.about-logo{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    overflow: hidden;
}

#about-info{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* ! Services */

.service-logo{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    overflow: hidden;
}

.service-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 400px;
    margin: 0 auto ;
    transition: 0.5s ease;
    background: url('../img/service1.jpg') center no-repeat;
    background-size: cover;
    border: 1px solid var(--bg-color);
    border-radius: 2rem;
}

.service-info h2{
    text-transform: uppercase;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 800;
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
}

.service-info p{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--main-color);
}

.service-info:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.service-info:hover h2{
    opacity: 1;
    transform: scale(1);
}
